<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UUID</key>
	<string>MMS083</string>
	<key>Revision</key>
	<integer>1</integer>
	<key>Item Name</key>
	<string>AH-64 Apache</string>
	<key>Item Company</key>
	<string>Fascinations</string>
	<key>Item Brand</key>
	<string>Metal Earth</string>
	<key>Item Release Date</key>
	<date>2016-07-06T22:28:16Z</date>
	<key>Item Avaliable</key>
	<true/>
	<key>Item Not Avaliable Reason</key>
	<string></string>
	<key>Assembly Diffculty</key>
	<string>Medium</string>
	<key>Models Website</key>
	<string>http://www.fascinations.com/metalearth/boeing/ah-64-apache</string>
	<key>Item Exclusive</key>
	<false/>
	<key>Item Exclusive To Where?</key>
	<string></string>
	<key>Three Sixty Rotation</key>
	<string>http://www.fascinations.com/me/360/mms083/index.html</string>
	<key>Number Of Sheets</key>
	<integer>2</integer>
	<key>Instructions</key>
	<string>http://www.fascinations.com/me/360/mms083/instruction.pdf</string>
</dict>
</plist>
